body{
    background-color: black;
    text-align: center;
}

.main{
    background-color: hsl(244, 38%, 16%);
    width: 75%;
    margin: 100px auto 0px auto;
    border-radius: 7px;
    color: white;
    
    height: 445px;
    text-align: left;
    
}

h1{
    font-family: 'Lexend Deca', sans-serif;
    margin: 10px 10px 0 10px;
    width: 30%;
    font-size: 30px;
    padding: 63px 0 15px 63px;
}

.h1{
    color: hsl(277, 64%, 61%);
    
    
}

.main-text{
    padding: 0 0 25px 80px;
    width: 28%;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 50%;
    color: rgba(168, 168, 168, 0.753);
}

.numbers{
    padding: 0 0 0 70px;
}

p{
    display: inline-block;
    
}

.one{
    width: 30px;
    padding: 0 50px 0 0px;
    font-size: 14px;
    
}

.two{
    width: 30px;
    padding: 0 50px 0 30px;
    font-size: 14px;
}

.three{
    width: 30px;
    padding: 0 50px 0 30px;
    font-size: 14px;
}

.span{
    display: inline-block;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400%;
}

img{
    float: right;
    position: absolute;
    top: 99px;
    right: 170px;
    border-radius: 7px;
    
    
}